@charset "utf-8";

/*geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #323232;
    border: none;

}
body {
    background-color: black;
    position: relative;
}
main {
    background-image: url("../imagens/aviao-hangar-g.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 95vh;

}

textarea:focus, input:focus {
    outline: none;

}
a, label {
    font-size: 0.8rem; /*usado para adaptar a todos os dispositivos*/

}
a:hover {
    color: #085588;
}
/*container login*/
#login-container {
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin-left: auto; /*usado com o margin right, centraliza o elemento */
    margin-right: auto;
    padding: 15px 30px;
    margin-top: 30vh; /*viewport height- proporcional a altura da tela*/
    border-radius: 10px;
    text-align: center;
}
/*formulario*/

form {
    margin-top: 30px;
    margin-bottom: 40px;
}
label, input {
    display: block;
    width: 100%;
    margin: 10px;
    text-align: left;
}
input {
    border-bottom: 1px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 3px;
}
input:focus {
    border-bottom: 2px solid #855588;
}
#forgot-pass {
    text-align: right;
    display: block;
    text-decoration: none;
    color: black;
}
#forgot-pass:hover {
    text-decoration: underline;
}
input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #085588;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #1b223c;
    transition: 0.5s;
}
footer {
    margin-top: 05px;
}
footer#rodape p, a {
    text-align: center;
    color: #ffffff;
}
/*colocar imagem centralizada com media query*/