@charset "utf-8";

/*todas as demais medias*/

/*----------------------------------*/

/*
-- Pequenas telas (phones, até 600px)
@media only screen and (max-width: 600px) {...}

-- Pequenos dispositivos (telefones grandes, 600px até 768px )
@media only screen and (min-width: 600px) {...}

-- Dispositivos médios (landscape tablets, 768px and 992px)
@media only screen and (min-width: 768px) {...}

-- grandes dispositivos (laptops/desktops, 992px and 1200px)
@media only screen and (min-width: 992px) {...}

-- Grandes telas  (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */
@media screen and (max-width: 767px){
    .interface {
        background-color: burlywood;
        display: block;
    }
        
    .produto-box {
        height: 50vh;
        overflow-y: scroll;

    }
    .prod-bar {
        width: 100vw;
        text-align: left;
        padding: 0 5px;
    }
    .menu-produto input {
        width: 120px;
    }
    .pendencia-box, .cotacao-box {
        height: 20vh;
        margin: 10px auto;
    }

}





@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        
        width: 100vw;
    }
    .interface{
        
        background-color: aqua;

    }
    
    .produto-box {
        overflow-y: scroll;
        
        
    }
    .prod-bar {
        width: 100vw;
        text-align: center;

    }

    .menu-produto {
        text-align: left;
        
    }
    .menu-produto #lista-busca, input {
        margin-left: 5px;
    }
    .menu-produto input {
        width: 150px;
    }
    .menu-produto > button {
        margin: 10px 5px;
    }
    
    .interface table {
        margin: 10px 2px;
    }

}


@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        width: 100vw;
    }
    .interface {
        background-color: blueviolet;
    }
    .produto-box {
        overflow-y: scroll;
    }
    .prod-bar {
        width: 100%;
        text-align: center;

    }

    .menu-produto {
        text-align: center;
        
    }
    .menu-produto #lista-busca, input {
        margin-left: 5px;
    }
    .menu-produto input {
        width: 200px;
    }
    .menu-produto > button {
        margin: 10px 5px;
    }
    
    .interface table {
        margin: 10px 10px;
    }
    .produto-box table {
        margin: 10px auto;
    }
    
}

