@charset "utf-8";

div#interface {
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
}

#produto {
    display: block;
    width: 75%;
    height: 98%;


}

#local-trace {
    display: block;
    margin-left: 0;
    margin-top: -345px;
    margin-bottom: 15px;

}
#pendencia {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;

}
#cotacao {
    display: block;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: -10px;
}

aside#aside-index {
    display: block;
    float: right;
    width: 24%;
    height: 75%;
    margin-top: -165px;
    margin-left: auto; /*usado com o margin right, centraliza o elemento */
    margin-right: 0;

}