@charset"utf-8";
body, ul, li, form, table {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-family: Arial sans-serif;
}
/*esconde os scrolls*/
html,body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../_imagens/aviao-hangar-g.jpg");
    background-size: cover;
}
section {
    background-color: white;
    max-width: 1250px;
    height: 70%;
    min-width: 600px;
    margin-left: auto; /*usado com o margin right, centraliza o elemento */
    margin-right: auto;
    padding: 5px 30px;
    margin-top: 5vh; /*viewport height- proporcional a altura da tela*/
    border-radius: 10px;

}
form{
    columns: 2;
    flex: 1 1 auto;
    text-align: left;
    margin: 5px;
    padding: 10px;
}

form label {
    display: inline-flex;
    width: 110px;
    height: 20px;
    background-color: rgba(0,0,0,0.14) ;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 2px;
    text-align: center;
    border: rgba(0,0,0,0.14) solid 1px;
    font-size: 0.9rem;
}

.top-input {
    display: inline-flex;
    width: 200px;
    height: 26px;

}
table {
    display: table;

}
th {
    border: black solid 1px;
    margin: 0;
    padding: 5px;
}
.fotos-entrada {
    text-align: center;
    margin: 100px;

}
hr{
    color: black;
}
button {
    color: black;
    margin: 20px;
    padding: 5px;
}
button a {
    color: black;
    margin: 20px;
}
footer {
    text-align: center;
    color: white;
    margin-top: 20px;
}
footer > p {
    color: white;
}